.select {
	appearance: none;
	padding: 5px 10px;
	background-color: #181718;
	color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.select:focus {
	box-shadow: 0 4px 10px rgba(238, 86, 38, 0.5);
}

.select option {
	background-color: #181718;
	color: white;
	padding: 10px;
	border-bottom: 1px solid #ee5626;
	padding-bottom: 5px;
	appearance: none;
	-webkit-appearance: none;
}

.select option:hover {
	background-color: #ee5626;
	color: white;
}
